.banner-container {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 30rem;
  margin-top: 1rem;
  position: relative;
}
.banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.banner-text-container {
  position: absolute;
  top: 20%;
  transform: translateY(-20%);
  left: 2rem;
}
.banner-heading,
.banner-tagline {
  padding: 0;
  margin: 0;
}
.banner-heading {
  font-size: 3rem;
  color: #381d2a;
}
.banner-tagline {
  font-size: 1.8rem;
  color: #ba5624;
}
.banner-animation {
  position: absolute;
  top: 65%;
  transform: translateY(-65%);
  left: 2rem;
  height: 15rem;
  width: 15rem;
  object-fit: contain;
}

@media (max-width: 576px) {
  .banner-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 12rem;
    margin-top: 0.5rem;
  }
  .banner-img {
    object-fit: cover;
  }
  .banner-text-container {
    top: 15%;
    transform: translateY(-15%);
    left: 0.5rem;
  }
  .banner-heading {
    font-size: 1.2rem;
  }
  .banner-tagline {
    font-size: 0.8rem;
  }
  .banner-animation {
    left: 0.5rem;
    height: 6rem;
    width: 7rem;
  }
}
